@page
@model List<MENU_RESTO_BAR_6.Models.Producto>
@{
}

 
<h1>Carrito de Compras</h1>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Nombre</td>
                <td>$@item.Precio</td>

            </tr>
        }
    </tbody>
</table>

<h2>Total: $@(Model.Sum(p => p.Precio))</h2> 

