@model IEnumerable<MENU_RESTO_BAR_6.Models.Producto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="menu-group">
<div class="jumbotron text-center">
    <h2>Bienvenido a Café del 6</h2>
    <p>¡Reserva tu mesa, explora nuestro menú y disfruta de una experiencia única!</p>
    <a href="@Url.Action("Index", "Reservas")" class="btn btn-primary">Reservar ahora</a>
</div>

<body>
    <div class="titulo-Menu">
        <h2>Nuestro Menú</h2>
    </div>
    <main class="menu-container">

    </main>
</body>
</div>

