@model IEnumerable<MENU_RESTO_BAR_6.Models.Producto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="menu-group">
<div class="jumbotron text-center">
    <h2>Bienvenido al Café del 6</h2>
    <p>¡Reserva tu mesa, explora nuestro menú y disfruta de una experiencia única!</p>
    <a href="@Url.Action("Index", "Reservas")" class="btn btn-primary">Reservar ahora</a>
</div>

    <div class="titulo-Menu">
        <h3>Nuestro Menú</h3>
        <a href="@Url.Action("Index", "Productos")" class="btn btn-primary">Mira nuestro menú aqui</a>
    </div>
</div>

